.add-invoice-container {
    width: 350px;
    height: 400px;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: white;
    z-index: 2;
}

.add-invoice-header-text {
    text-align: center;
}

.add-invoice-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-invoice-buttons {
    display: flex;
    justify-content: center;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 280px;
    height: 30px;
    margin: 5px;
}

.form-label {
    margin-left: 5px;
}

.form-button {
    margin-left: 5px;
    width: 141px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.add-invoice-close {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}