.toast-notification-content {
    width: 300px;
    height: 60px;
    display: flex;
    background-color: #CD001A;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    align-items: center;
}

.error-message {
    color: white;
}